@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nation Aviation University<br />
    <br />
    <abbr title="Phone">Телефон:</abbr>
    
</address>

